body {
    margin: 0;
    background: #f1f2f3;
    color: #666;
    font: 12px/1.5 tahoma,arial,sans-serif;
}

.Header a {
    color: inherit;
    text-decoration: none;
}

.u-container {
    margin: auto;
    width: 1200px;
    height: 100%;
}

.u-cf::before,
.u-cf::after {
  display: table;
  content: " ";
}

.u-cf::after {
  clear: both;
}

.Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #cee3f2;
    background: #fff
}

.Header-logo {
    float: left;
    width: 80px;
    height: 100%;
    background: url(img/logo.png) no-repeat center;
    text-indent: -999px;
}

.Header-filters {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 22px;
    height: 100%;
}

.Header-categories {
    position: relative;
    font-size: 14px;
}

.Header-categoriesTrigger {
    position: relative;
    z-index: 10;
    padding-right: 20px;
    width: 55px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: url(img/arrow-down.png) no-repeat 50px center;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.Header-categories:hover .Header-categoriesTrigger {
    border-bottom-color: #fff;
    background-image: url(img/arrow-up.png);
}

.Header-categoriesContent {
    position: absolute;
    top: 27px;
    display: none;
    padding: 40px 30px 20px;
    width: 300px;
    border: 1px solid #e0e0e0;
    background: #fff
}

.Header-categories:hover .Header-categoriesContent {
    display: block;
}

.Header-categoriesModules {
    float: left;
    width: 80px;
}

.Header-categoriesModuleLink {
    display: block;
    margin-bottom: .5em;
}

.Header-categoriesBd {
    float: left;
    width: 220px;
}

.Header-categoriesRow {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px dotted #e0e0e0;
}

.Header-categoryLink {
    margin-right: 2em;
}

.Header-searchInput {
    margin-left: 20px;
    padding: 5px 30px 5px 8px;
    width: 200px;
    outline: none;
    border: 1px solid #ccc;
    background: url(img/search.png) no-repeat 210px center;
}

.Header-helpers {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    font-size: 14px;
}

.Header-helperItem {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 25px;
}

.Header-new {
    margin-left: 5px;
    padding: 0 3px 2px;
    border-radius: 2px;
    background: #f46;
    color: #fff;
    font-size: 12px;
}

.Header-btn {
    padding: 5px 10px;
    border-radius: 2px;
}

.Header-btn--hili {
    background: #f46;
    color: #fff !important;
}

.Header-phonetrigger {
    padding: 2px 0 2px 16px;
    background: url(img/phone.png) no-repeat 0 center;
}

.Header-phonearrow {
    margin-left: 15px;
    width: 10px;
    height: 26px;
    background: url(img/arrow-down.png) no-repeat center;
}

.Header-helperPhone {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 25px;
    height: 65px;
    cursor: pointer;
}

.Header-phoneimg {
    position: absolute;
    top: 65px;
    right: 75px;
    display: none;
    padding: 160px 25px 20px;
    background: url(img/erweima.png) no-repeat center 20px;
    background-color: #fff;
}

.Header-helperPhone:hover .Header-phonearrow {
    background: url(img/arrow-up.png) no-repeat center;
}

.Header-helperPhone:hover .Header-phonetrigger {
    color: #f46
}

.Header-helperPhone:hover .Header-phoneimg {
    display: block;
}

.content {
    margin: 0 auto;
    margin-top: 110px;
    padding-bottom: 100px;
    width: 1200px;
}

.focuspic {
    float: left;
    overflow: hidden;
    width: 710px;
    height: 443px;
}

.focuspic ul {
    padding-left: 0;
}

.Community {
    float: right;
    width: 468px;
    height: 443px;
    font-family: tahoma,arial,sans-serif;
}

.Community-ups {
    padding: 0 33px;
    height: 293px;
    border: 1px solid #dedfe0;
    background: #fff;
}

.Community-ups h3 {
    margin: 0;
    padding-top: 14px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size:16px;
}

.Community-up {
    padding-top:16px;
    height: 35px;
    border-top: 1px dotted #ccc;
    color: #444;
    font-size: 12px;
}

.Community-up--winteritem {
    display: inline-block;
    padding: 6px 20px 0 16px;
    background: url(img/bigpic.png) right 8px;
}

.Community-up--winter {
    margin-left:-16px;
    height: 68px;
    border-top: 0
}

.Community-up--activity a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.Community-up--activitycolor {
    margin-left: 5px;
    padding:0 3px;
    border-radius: 2px;
    background-color: #fb3;
    color: #fff !important;
}

.Community-up--choice a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

.Community-up--choicecolor {
    margin-left: 5px;
    padding:0 3px;
    border-radius: 2px;
    background-color: #f46;
    color: #fff !important;
}

.Community-up--tool a {
    padding-right: 20px;
}

.Community-ups a {
    color: #444;
    text-decoration:none;
}

.Community-ups a:hover {
    text-decoration:underline;
}

.Community-down {
    margin-top: 20px;
    border: 1px solid #dedfe0;
}

.Community-downlink {
    display: block;
    height: 130px;
    background: url(img/down.jpeg) no-repeat;
}

.area {
    margin-top: 40px;
    border-top: 1px solid #d4d5d5
}

.area h2 {
    margin: 0;
    padding: 30px 0;
    color: #444;
    font-weight: 400;
    font-size: 18px;
    font-family: tahoma,arial,sans-serif;
}

.review,.moreExpert {
    float: right;
    margin-top: 28px;
}

.reviewlink,.moreExpertlink {
display: block;
width: 80px;
height: 28px;
border-radius:2px;
background-color: #22b4f6;
color: #fff;
text-align: center;
text-decoration: none;
font-weight: 700px !important;
font-size: 13px;
font-family: tahoma,arial,sans-serif;
line-height: 28px;
}

.Albumsections {
    width: 1222px;
    height: 328px;
}

.Albumsection {
    float: left;
    margin-right: 20px;
    padding-bottom: 4px;
    width: 224px;
}

.Albumsection-img a {
    display: block;
    overflow: hidden;
    width: 224px;
    height: 224px;
}

.txtlink {
    display: block;
    padding: 12px 10px 0;
    height: 34px;
    color: #444;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.Albumsection-txt {
    border-right: 1px solid #dedfe0;
    border-bottom: 1px solid #dedfe0;
    border-left: 1px solid #dedfe0;
    background-color: #fff;
}

.txtsection p {
    margin: 0;
}

.txtsection {
    padding: 8px 10px 12px;
    height: 34px;
    color: #888;
    font-size: 12px;
}

.txtsection a {
    color: #888;
    text-decoration: none;
}

.txtbottom-a {
    width: 220px;
}

.txtbottom-b {
    width: 216px;
}

.txtbottom-a,.txtbottom-b {
    margin: 0 auto;
    height: 1px;
    border-bottom: 1px solid #dedfe0;
}

.liangpinBuy {
    display: inline;
    float: right;
    margin-top: 34px;
}

.liangpinBuy a {
    padding: 0 12px;
    border-right: 1px solid #ddd;
    color: #444;
    text-decoration: none;
}

.liangpinBuy a:hover {
    text-decoration: underline;
}

.liangpinBuy a:last-child {
    border: 0;
}

.singleRecommend {
    float: left;
    margin-right: 20px;
}

.singleRecommendlink {
    display: block;
    width: 224px;
    height: 224px;
}

.singleRecommends {
    overflow: hidden;
    width: 1222px;
}

.singleRecommendtxt {
    position: relative;
    border-right: 1px solid #dedfe0;
    border-bottom: 3px solid #dedfe0;
    border-left: 1px solid #dedfe0;
    background-color: #fff;
}

.singleRecommendtxt-title {
    margin: 0;
    padding: 12px;
}

.singleRecommendtxt-num {
    margin: 0;
    padding: 0 12px 12px;
    color: #888;
    font-size: 12px;
}

.titlelink {
    color: #444;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.singleRecommendtxt-btn {
    position: absolute;
    top: 38px;
    right: 10px;
    width: 56px;
    height: 25px;
    background-color: #fb3;
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

.experts {
    width: 1222px;
    height: 256px;
}

.expert {
    position: relative;
    float: left;
    margin-right: 20px;
    padding-bottom: 4px;
    width: 224px;
}

.expert-img--big {
    width: 224px;
    height: 112px;
}

.expert-img--small {
    position: absolute;
    top: 68px;
    left: 68px;
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 80px;
}

.expert-img--v {
    position: absolute;
    top: 128px;
    left: 128px;
}

.expert-txt {
    border-right: 1px solid #dedfe0;
    border-bottom: 3px solid #dedfe0;
    border-left: 1px solid #dedfe0;
    background-color: #fff;
}

.expert-txt--name {
    display: block;
    padding: 52px 10px 0;
    color: #444;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
}

.expert-txt--name:hover {
    text-decoration: underline;
}

.expert-txt--count {
    margin: 4px auto 0;
    height: 16px;
    color: #888;
    text-align: center;
    font-size: 13px;
}

.expert-txt--star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(img/bgimg.png) no-repeat -4px -52px;
}

.expert-txt--total {
    vertical-align: top;
    line-height: 16px;
}

.expert-txt--interest {
    margin-top: 12px;
    text-align: center;
    font-size: 13px;
}

.expert-str {
    color: #444;
    font-weight: 400;
}

.dajias {
    overflow: hidden;
    width: 1225px;
}

.dajia {
    float: left;
    margin-right: 21px;
    width: 224px;
}

.dajiasection {
    margin-bottom: 20px;
}

.dajiasection-img {
    max-width: 224px;
}

.dajiasection-txt1--title {
    padding: 10px 12px;
    color: #444;
}

.dajiasection-star,.dajiasection-zan {
    margin: 0 8px 0 0;
    padding: 0 0 0 16px;
    background: url(img/bgimg.png) no-repeat -5px -50px;
    color: #a0a0a0;
    font-size: 13px;
}

.dajiasection-zan {
    position: -90px -50px !important;
}

.dajiasection-txt1,.dajiasection-txt2 {
    border-right: 1px solid #dedfe0;
    border-left: 1px solid #dedfe0;
    background-color: #fff;
}

.dajiasection-txt1 {
    border-bottom: 1px solid #ddd;
}

.dajiasection-txt2 {
    padding: 8px 11px 15px;
    border-bottom: 3px solid #dedfe0;
}

.dajiasection-txt1--name {
    padding: 0 12px 10px;
}

.dajiasection-txt2--smallimg {
    float: left;
    margin-right: 10px;
    border-radius: 26px;
}

.dajiasection-txt2--p {
    margin: 0;
}

.dajiasection-txt2 a {
    color: #666;
    text-decoration: none;
}

.dajiasection-txt2 a:hover {
    text-decoration: underline;
}

.shoujidao {
    color: #888;
}

.skimmore-link {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    background-color: #22b4f6;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
}

.skimmore {
    margin-top: 24px;
}

.Footer {
    padding: 22px 0;
    border-top: 1px solid #d8d9da;
    background-color: #e1e2e3;
}
