body {
    margin: 0;
    background: #f1f2f3;
    color: #666;
    font: 12px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.u-container {
    margin: auto;
    width: 956px;
    height: 100%;
}

.u-cf::before,
.u-cf::after {
  display: table;
  content: " ";
}

.u-cf::after {
  clear: both;
}

.Header {
    position: fixed;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid #cee3f2;
    background: #fff;
}

.Header-logo {
    float: left;
    width: 80px;
    height: 100%;
    background: url(img/logo.png) no-repeat center;
    text-indent: -999px;
}

.Header-filters {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 22px;
    height: 100%;
}

.Header-categories {
    position: relative;
    font-size: 14px;
}

.Header-categoriesTrigger {
    position: relative;
    z-index: 10;
    padding-right: 20px;
    width: 55px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: url(img/arrow-down.png) no-repeat 50px center;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.Header-categories:hover .Header-categoriesTrigger {
    border-bottom-color: #fff;
    background-image: url(img/arrow-up.png);
}

.Header-categoriesContent {
    position: absolute;
    top: 27px;
    display: none;
    padding: 40px 30px 20px;
    width: 300px;
    border: 1px solid #e0e0e0;
    background: #fff;
}

.Header-categories:hover .Header-categoriesContent {
    display: block;
}

.Header-categoriesModules {
    float: left;
    width: 80px;
}

.Header-categoriesModuleLink {
    display: block;
    margin-bottom: .5em;
}

.Header-categoriesBd {
    float: left;
    width: 220px;
}

.Header-categoriesRow {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px dotted #e0e0e0;
}

.Header-categoryLink {
    margin-right: 2em;
}

.Header-searchInput {
    margin-left: 20px;
    padding: 5px 30px 5px 8px;
    width: 200px;
    border: 1px solid #ccc;
    background: url(img/search.png) no-repeat 210px center;
}

.Header-helpers {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
    font-size: 14px;
}

.Header-helperItem {
    display: flex;
    align-items: center;
    float: left;
    margin-left: 25px;
}

.Header-new {
    margin-left: 5px;
    padding: 0 3px 2px;
    border-radius: 2px;
    background: #f46;
    color: #fff;
    font-size: 12px;
}

.Header-btn {
    padding: 5px 10px;
    border-radius: 2px;
}

.Header-btn--hili {
    background: #f46;
    color: #fff;
}
